link(rel='stylesheet', href='/stylesheets/style.css')
div(class='footer')
    div(class='newsletter')
        span For register to newletter, confirm you mail adress: 
        input(type="email", name="emailNewsletter")
    div(class='other')
        ul 
            li test1
            br
            li test2
            br
            li test3
        ul 
            li test1
            br
            li test2
            br
            li test3
        ul 
            li test1
            br
            li test2
            br
            li test3
    div(class='informationsAboutCompany')
        ul Informations about company
            li testtestowy sp. z o.o.
            li testowy adres ul. tesowa
            li kadry@testowy.pl 650565544
            li NIP: 46545318948465
            li KRS: 6546548946846


