doctype html
html(lang="en")
    head
        include menu.pug
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Hotelify
    body
        div(class='content')
            br
            br
            div.item
                span(class='findHotelSpan') Here you would find places for sleep
                form(action="/testpage", method="post") 
                    span Choose city: 
                    br
                    input(list="localization" name='localization')
                    datalist(id="localization")
                        each data in hotels
                            option(value=data.localization)
                    br
                    span Number of beds:
                    br
                    input(type="number", name="numberOfBeds" value="1")
                    br
                    input(type="Submit", value="Find")
    include footer.pug