link(rel='stylesheet', href='/stylesheets/menu.css')
.menu
  ol.ol
    li.li
      a(href='/') Main page
      ul.ul
    li.li
      a(href='/lookingfor') Looking for
      ul.ul
    li.li
      a(href='/register') Register 
    li.li
      a(href='/contact') Contact
      ul.ul