S
  .show_menu{
    background-color: gray;
    height: 20px;
    width: 300px;
    margin: 0 auto;
  }
  .menu{
    height: 2em;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .menu_item{
      float: left;
      height: 30px;
      width: 19%;
      text-align: center;
  }
  .first{
    background-color: #4400ff;
  }
  .second{
    background-color: #ff5a00;
  }
  .third{
    background-color: #ff5a00;
  }
  .fourth{
    background-color: #ff5a00;
  }
  .fifth{
    background-color: #ff5a00;
  }
  
  @keyframes pokaz_animation {
    0%   {}
    25%  {}
    50%  {}
    100% {
      position: relative;
      right: 0px
    }
  }
  a.a_menu{
    display: block;
    color: white;
    height: 100%;
    width: 100%;
    border: solid 1px white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-align: center;
  }
  a:hover.a_menu, a:active.a_menu{
    transition: 1s;
    background-color: white;
    color: #ff5a00;
  }
  @media screen and (min-width: 1px) {
    a.a_menu{
      font-size: 11px;
    }
    .a_calc{
      font-size: 11px;
    }
  }
  @media screen and (min-width: 601px) {
    a.a_menu{
      font-size: 14px;
    }
    .a_calc{
      font-size: 14px;
    }
  }
  @media screen and (min-width: 900px) {
    a.a_menu{
      font-size: 20px;
    }
    .a_calc{
      font-size: 20px;
    }
  }
  @media screen and (min-width: 1080px) {
    a.a_menu{
      font-size: 23px;
    }
    .a_calc{
      font-size: 23px;
    }
  }
  
  .calc_one_mean{
    display: none;
  }
  .calc_two_mean{
    background-color: pink;
    display: none;
  }
  .calc_three_mean{
    background-color: pink;
    display: none;
  }
  .menu_item_calc{
    background-color: #ffa573;
    width: auto;
    height: 40px;
    border: solid 1px white;
    /*border-radius: 25px;*/
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
  
  }

  .j{
    margin-top: 20px;
  }
  ol {
    list-style-type:none;
    padding:0;
    margin:0;
    font-size:18px;
    height:2em;
    line-height:2em;
    text-align:center;
    font-family: 'Roboto', sans-serif;
  }
  ol a {
    display:block;
    text-decoration:none;
    color: white;
    padding:0 5px;
  }
  ol > li {

    float:left;
    width:24.9%;
    margin-left:1px;
    background-color:#c3d1a7;
    height:2em;
  }
  ol > li:first-child {
    margin-left:0;
  }
  ol > li:hover {
    transition: 1s;
    background-color: white;
  }
  ol > li:hover > a {
    color:#c3d1a7;
  }
  
  ol > li:hover > ul {
    display:block;
  }
  /* ------------------------CZĘŚĆ-ROZWIJANA-MENU------------------------ */
  
  /* wygląd głównych rozwijanych elementów - ul */
  ol > li > ul {

    display:none;
    list-style-type:none;
    padding:0;
    margin:0;
  }
  
  /* wygląd elementu - li - w części rozwijanej */
  ol > li > ul > li {

    position:relative;
    background-color: #c3d1a7;
  }
  
  /* wygląd elementu - a - w części rozwijanej */
  ol > li > ul > li > a {
    border-top:1px solid white;
  }
  
  /* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
  ol > li > ul > li:hover {
    background-color:white;
  }
  
  /* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
  ol > li > ul > li:hover > a {
    color:#c3d1a7;
  }